In [ ]:
import pandas as pd
import numpy as np
import warnings
import os
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

In [ ]:
!pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (0.12.2)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [ ]:
import statsmodels.api as sm

In [ ]:
from google.colab import files
files.upload()

Saving locations.csv to locations (1).csv

{'locations.csv': b'\xef\xbb\xbflocation\r\nSrinagar\r\nRajkot\r\nPune\r\nBengaluru\r\nHyderabad\r\nBhilai\r\nLucknow\r\nAsansol\r\nJamshedpur\r\nAgartala\r\nNashik\r\nLudhiana\r\nMeerut\r\nVaranasi\r\nKanpur\r\nAgra\r\nGwalior\r\nKochi\r\nKannur\r\nChennai\r\nMadurai\r\nRajkot\r\nPune\r\nBengaluru\r\nHyderabad\r\nBhilai\r\nLucknow\r\nAsansol\r\nJamshedpur\r\nChennai\r\n'}

In [ ]:
# Stores the data 
df=pd.read_csv('locations.csv',sep=',')
# Shows the data 
df.head()

    location
0   Srinagar
1     Rajkot
2       Pune
3  Bengaluru
4  Hyderabad

In [ ]:
df

      location
0     Srinagar
1       Rajkot
2         Pune
3    Bengaluru
4    Hyderabad
5       Bhilai
6      Lucknow
7      Asansol
8   Jamshedpur
9     Agartala
10      Nashik
11    Ludhiana
12      Meerut
13    Varanasi
14      Kanpur
15        Agra
16     Gwalior
17       Kochi
18      Kannur
19     Chennai
20     Madurai
21      Rajkot
22        Pune
23   Bengaluru
24   Hyderabad
25      Bhilai
26     Lucknow
27     Asansol
28  Jamshedpur
29     Chennai

In [ ]:
country= 'India'
city_names = df['location']

longitude = []
latitude = []
geolocator = Nominatim()

for c in city_names.values:
    location = geolocator.geocode(c+ ',' + country)
    latitude.append(location.latitude)
    longitude.append(location.longitude)

In [ ]:
df['Latitude'] = latitude
df['Longitude'] = longitude

In [ ]:
l2 = df.iloc[:,-1:-3:-1]
l2

    Longitude   Latitude
0   74.820444  34.074744
1   70.802838  22.305326
2   73.854454  18.521428
3   77.590082  12.976794
4   78.461065  17.388786
5   81.373285  21.212068
6   80.934600  26.838100
7   86.974659  23.687130
8   86.202958  22.801519
9   91.282382  23.831238
10  73.790236  20.011247
11  75.851601  30.909016
12  77.768229  29.000653
13  83.007629  25.335649
14  80.321759  26.460914
15  78.009816  27.175255
16  78.157363  26.203725
17  76.245444   9.967428
18  75.373797  11.876384
19  80.270186  13.083694
20  78.114098   9.926115
21  70.802838  22.305326
22  73.854454  18.521428
23  77.590082  12.976794
24  78.461065  17.388786
25  81.373285  21.212068
26  80.934600  26.838100
27  86.974659  23.687130
28  86.202958  22.801519
29  80.270186  13.083694

In [ ]:
kmeans=KMeans(n_clusters=5)
kmeans.fit(l2)

identified_clusters = kmeans.fit_predict(l2)
identified_clusters = list(identified_clusters)

In [ ]:
identified_clusters

[1,
 4,
 4,
 5,
 0,
 0,
 3,
 2,
 2,
 2,
 4,
 1,
 3,
 3,
 3,
 3,
 3,
 5,
 5,
 5,
 5,
 4,
 4,
 5,
 0,
 0,
 3,
 2,
 2,
 5]

In [ ]:
df['Alloted Cluster'] = identified_clusters

In [ ]:
df

      location   Latitude  Longitude  Alloted Cluster
0     Srinagar  34.074744  74.820444                2
1       Rajkot  22.305326  70.802838                3
2         Pune  18.521428  73.854454                3
3    Bengaluru  12.976794  77.590082                1
4    Hyderabad  17.388786  78.461065                0
5       Bhilai  21.212068  81.373285                0
6      Lucknow  26.838100  80.934600                2
7      Asansol  23.687130  86.974659                4
8   Jamshedpur  22.801519  86.202958                4
9     Agartala  23.831238  91.282382                4
10      Nashik  20.011247  73.790236                3
11    Ludhiana  30.909016  75.851601                2
12      Meerut  29.000653  77.768229                2
13    Varanasi  25.335649  83.007629                4
14      Kanpur  26.460914  80.321759                2
15        Agra  27.175255  78.009816                2
16     Gwalior  26.203725  78.157363                2
17       Kochi   9.967428  76.245444                1
18      Kannur  11.876384  75.373797                1
19     Chennai  13.083694  80.270186                1
20     Madurai   9.926115  78.114098                1
21      Rajkot  22.305326  70.802838                3
22        Pune  18.521428  73.854454                3
23   Bengaluru  12.976794  77.590082                1
24   Hyderabad  17.388786  78.461065                0
25      Bhilai  21.212068  81.373285                0
26     Lucknow  26.838100  80.934600                2
27     Asansol  23.687130  86.974659                4
28  Jamshedpur  22.801519  86.202958                4
29     Chennai  13.083694  80.270186                1

In [ ]:
input_city = input("Enter a city name: ")
cluster = df.loc[df['location'] == input_city,'Alloted Cluster']
cluster = cluster.iloc[0]
cities = df.loc[df['Alloted Cluster'] == cluster, 'location']
for c in range(len(cities)):
    if cities.iloc[c] == input_city:
        continue
    else:
        print(cities.iloc[c])

Enter a city name: Hyderabad
Bhilai
Bhilai

In [ ]:
print(cluster.iloc[0])

0

In [ ]:
cluster = df.loc[df['location'] == input_city,'Alloted Cluster']
cities = df.loc[df['Alloted Cluster'] == cluster, 'location']

ValueError: ignored

In [ ]:
print(cluster)

4     0
24    0
Name: Alloted Cluster, dtype: int32

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   location         30 non-null     object
 1   Latitude         30 non-null     float64
 2   Longitude        30 non-null     float64
 3   Alloted Cluster  30 non-null     int32
dtypes: float64(2), int32(1), object(1)
memory usage: 968.0+ bytes

In [ ]:
categorical_cols = df.select_dtypes(include='float64').columns
categorical_cols

Index(['Latitude', 'Longitude'], dtype='object')